<!doctype html>
<html
  {% if request.design_mode %}
    class="shopify-design-mode"
  {% endif %}
  lang="{{ request.locale.iso_code }}"
>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}"
      >
    {%- endif -%}

    {% comment %} This a way to wait for main content to load when navigating to a new page so that the view transitions can work consistently {% endcomment %}
    {% if settings.transition_to_main_product or settings.page_transition_enabled %}
      <link
        rel="expect"
        href="#MainContent"
        blocking="render"
        id="view-transition-render-blocker"
      >
    {% endif %}

    {% comment %} Stylings here {% endcomment %}
    <link rel="stylesheet" href="{{ 'main.css' | asset_url }}" />
    <link rel="stylesheet" href="{{ 'banner.css' | asset_url }}" />
    <link rel="stylesheet" href="{{ 'banner-with-image.css' | asset_url }}" />
    <link rel="stylesheet" href="{{ 'product-grid.css' | asset_url }}" />
    <link rel="stylesheet" href="{{ 'product-card.css' | asset_url }}" />
    <link rel="stylesheet" href="{{ 'quick-view.css' | asset_url }}" />
    <link rel="stylesheet" href="{{ 'color-option-selector.css' | asset_url }}" />
    <link rel="stylesheet" href="{{ 'select.css' | asset_url }}" />
    <link rel="stylesheet" href="{{ 'mobile-menu.css' | asset_url }}" />

    <script src="{{ 'main.js' | asset_url }}" defer></script>

    {{ content_for_header }}
  </head>

  <body class="page-width-{{ settings.page_width }} card-hover-effect-{{ settings.card_hover_effect }}">
    <div class="page-wrapper">
      <main
        id="MainContent"
        class="content-for-layout"
        role="main"
        data-page-transition-enabled="{{ settings.page_transition_enabled }}"
        data-product-transition="{{ settings.transition_to_main_product }}"
        data-template="{{ template }}"
      >
        {{ content_for_layout }}
      </main>
    </div>

    {{ 'quick-view.js' | asset_url | script_tag }}

    <script>
        window.ShopifyConfig = window.ShopifyConfig || {};
        window.ShopifyConfig.giftWithPurchaseVariant =
          {{ shop.metafields.custom.gift_with_purchase.value }};
      </script>
  </body>
</html>
